// For the variables below, our Makefile will use the example
// values from '../files/default/vsphere_vars.pkrvars.hcl'
// but will load '../files/override/vsphere_vars.pkrvars.hcl'
// if that exists instead.
//
// Without a properly configured set of variables, this config
// should be considered an example as it will not be functional.

variable "datacenter_name" { type = string }
variable "datastore_name" { type = string }
variable "iso_paths" { type = list(string) }
variable "network_name" { type = string }
variable "vcenter_endpoint" { type = string }
variable "vcenter_host" { type = string }
variable "vcenter_password" { type = string }
variable "vcenter_user" { type = string }

source "vsphere-iso" "{{ os_version }}_Packer_GM" {
  // Use our variables to configure the connection to vSphere
  datacenter     = var.datacenter_name
  datastore      = var.datastore_name
  host           = var.vcenter_host
  password       = var.vcenter_password
  username       = var.vcenter_user
  vcenter_server = var.vcenter_endpoint

  // Use other vars to configure the connection to the built VM
  // and the location of the ISO to be booted
  iso_paths    = var.iso_paths

  // Configure VM
  cd_files             = ["../ks.cfg"]
  cd_label             = "OEMDRV"
  CPUs                 = 2
  disk_controller_type = ["scsi"]
  firmware             = "efi-secure"
  guest_os_type        = "rhel7_64Guest"
  insecure_connection  = true
  RAM                  = 4096
  RAM_reserve_all      = false
  remove_cdrom         = true
  vm_name              = "{{ os_version }}_Packer_GM_{{ ks_version }}_VMware"
  vm_version           = "{{ vmware_vhw_ver }}"
  network_adapters {
    network      = var.network_name
    network_card = "vmxnet3"
  }
  storage {
    disk_size             = {{ packer_disk_gb * 1024 | default('65536') }}
    disk_thin_provisioned = true
  }

  // This is how we define the system as one which we will not
  // connect to as part of the Packer run. Our Kickstart install
  // needs to use a shutdown command in this case, but it allows
  // us a lot of flexibility.
  //
  communicator     = "none"
  shutdown_timeout = "30m"

  // Configure export settings (optional)
  // export {
  //   force            = true
  //   output_directory = "packer_out"
  // }
}

build {
  sources = ["source.vsphere-iso.{{ os_version }}_Packer_GM"]
}
