{% for item in packer_builds %}
source "vmware-iso" "{{ os_version }}_{{ item.name }}" {
  cd_files             = ["../.ks/{{os_version}}_{{ item.name }}_{{ ks_version }}/ks.cfg"]
  cd_label             = "OEMDRV"
  cpus                 = 2
  disk_adapter_type    = "scsi"
  disk_size            = "{{ packer_disk_gb * 1024 | default('65536') }}"
  format               = "ova"
  guest_os_type        = "rhel7-64"
  iso_checksum         = "{{ packer_rhel_iso_sha256 }}"
  iso_url              = "{{ packer_rhel_iso_source }}"
  memory               = 4096
  network_adapter_type = "vmxnet3"
  output_directory     = "VM_{{ os_version }}_{{ item.name }}_{{ ks_version }}"
  version              = "{{ vmware_vhw_ver }}"
  vm_name              = "{{ os_version }}_{{ item.name }}_{{ ks_version }}"
  vmx_data = {
    "firmware"                = "efi"
    "uefi.secureBoot.enabled" = "TRUE"
  }

  // Clean up the VMX file we're going to export as it will be
  // included in our OVA/OVF.
  vmx_data_post = {
    "ide0:0.clientDevice"   = "TRUE"
    "ide0:0.deviceType"     = "cdrom-raw"
    "ide0:0.fileName"       = "emptyBackingString"
    "ide0:0.present"        = "FALSE"
    "ide0:0.startConnected" = "FALSE"
    "ide1:0.clientDevice"   = "TRUE"
    "ide1:0.deviceType"     = "cdrom-raw"
    "ide1:0.fileName"       = "emptyBackingString"
    "ide1:0.present"        = "FALSE"
    "ide1:0.startConnected" = "FALSE"
  }

  // We don't need VNC as we haven't set a boot_command
  disable_vnc = true

  {% if item.poweroff | default(false) %}
  // Don't attempt to connect to the host after installation as we configured it with "poweroff = true"
  communicator     = "none"
  shutdown_command = " "
  shutdown_timeout = "30m"
  {% else %}
  // Connect via SSH because the vmware-iso provisioner doesn't seem capable of using the "none" communicator
  communicator     = "ssh"
  shutdown_command = "sleep 60 && echo '{{ packer_user_password }}' | sudo -S systemctl poweroff &>/dev/null 2>/dev/null"
  shutdown_timeout = "10m"
  ssh_password     = "{{ packer_user_password }}"
  ssh_timeout      = "30m"
  ssh_username     = "{{ packer_user }}"
  {% endif %}
}
{% endfor %}

build {
  sources = [
{% for item in packer_builds %}
    "source.vmware-iso.{{ os_version }}_{{ item.name }}",
{% endfor %}
  ]

  {% if item.poweroff | default(false) %}
  // Not running a provisioner because we configured the cloud-init
  // run to poweroff when it completed.
  {% else %}
  {% if item.remove_machine_id | default(false) %}
  // Remove the /etc/machine-id file if configured in our config to do so.
  //
  // We touch the file to make sure that the system does not treat subsequent
  // boots post-image-deployment as the 'first boot', as they won't be one.
  // (In particular this causes Fedora 34 to hang with a black screen).
  //
  provisioner "shell" {
    inline = [
      "echo '{{ packer_user_password }}' | sudo -S rm -fv /etc/machine-id",
      "echo '{{ packer_user_password }}' | sudo -S touch /etc/machine-id"
    ]
  }
  {% endif %}
  {% endif %}
}
